$white: #fff;
$black: #000;
$blue: #5dadff;
$yellow: #fcb040;
$textgrey: #333333; //body text
$darkgrey: #4e4e4e;

$container__background: #e5e5e5;
$header__background: $darkgrey;
$footer__background: #656363;
$copyright__background: $darkgrey;

$color__background-body: $white;
$color__background-screen: $white;
$color__background-hr: $blue;
$color__background-button: $blue;

$color__text-screen: $textgrey;
$color__text-input: $footer__background;
$color__text-input-focus: $darkgrey;
$color__link: $darkgrey;
$color__link-hover: $blue;
$color__text-main: $textgrey;
$color__text-button: $white;

$color__border-input: #ccc;
