html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.ctabtn {
	color: $white;
	text-transform: uppercase;
	font-size: $font__smallest;
	letter-spacing: 1px;
	padding: 25px 30px;
	transition: all .25s ease;
	display: inline-block;

	&:hover, &:visited { 
		padding: 26px 31px;
		color: $white;
	}
	
	&.bluebtn { background-color: $blue; }
	&.yellowbtn { background-color: $yellow; }
}


.estimate-cta { 
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2em 1.5em;

	h2 {
		text-align: left;
		line-height: 1.3em;
		span { 
			margin-top: -.5em;
			font-family: $font__main; 
			font-weight: normal;
			a { font-weight: normal; }
		}
	}
}

form { 
	background-color: $container__background;
	padding: 1em;
	margin: 1em;

	p {
		label  { padding-left: .3em; }

		input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { 
			border: none;
			border-radius: 0;
			height: 3em;
			width: 100%;
		}

		textarea { 
			height: 7em;
			max-width: 100%;
		}

	}
}
@media only screen and (min-width: 1900px) {
	.estimate-cta { 
		padding-left: 6em !important;
		padding-right: 6em !important;
	}
}

@media only screen and (max-width: 490px) {
	.estimate-cta { padding: 1em .5em !important; }
	a.ctabtn { padding: 20px 25px; }
}

@media only screen and (max-width: 430px) {
	.estimate-cta { padding: 1em .5em !important; }
	a.ctabtn { padding: 15px 20px; }
}

@media only screen and (max-width: 410px) {
	.estimate-cta h2 { text-align: center !important; }
	a.ctabtn { text-align: center !important; }
}