footer.infoFooter{
	background-color: $footer__background;
	height: 100%;
	color: $white;
	padding: 1em;

	h2 { text-align: left; }

	hr.hryellow { 
		width: 4em;
    	height: 2.25px;
    	background-color: $yellow;
    	margin: 0;
    }

	div.mission, div.footerContact { padding: .5em 0; }

	div.footerContact {
		ul {
			list-style: none;
			padding: 0;
			li {
				span.label { 
					width: 6em;
					float: left;
				}
				a { 
					color: $white;
					&:hover { color: $blue; }
				}
			}
		}
	}
}

footer#colophon {
	position:absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $footer__background;

	.site-info {
		background-color: $copyright__background;
		height: $footer__height;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		p { 
			text-transform: uppercase;
			font-size: $font__smallest;
			margin: 0;
			color: $white;
			letter-spacing: .5px;

			a { 
				color: $white;
				&:hover { color: $blue; }
			}
		}

	}
}

@media only screen and (min-width: 1024px) {
	footer.infoFooter {
		display: flex;

		div.mission { 
			width: 50%; 
			float: left;
			padding-right: 10%;
		}
		div.footerContact { width: 40%; }
	}
}

@media only screen and (max-width: 410px) { 
	footer.infoFooter div.footerContact {
		ul li {
			span.label { width: 100%; }
			span.label { padding: 1em 0 0 0; }
		}
	}
}