/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;
	text-decoration: none;
	font-weight: bold;
	transition: color .5s ease;
	
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#mobile-navigation { display: none; }

.main-navigation {
	clear: both;
	float: left;
	margin-left: auto;

	ul {
		flex: 1;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		padding: 1em;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $white;
		transition: all .6s ease;

		&:hover {
			color: $blue;
			font-size: 102%;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/*--------------------------------------------------------------
## Mobile
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) { #mobile-navigation { display: none !important; } }
@media only screen and (max-width: 1024px) {
	
	nav.main-navigation { display: none; }

	#mobile-navigation { 
		display: none;
		background-color: $footer__background;

		ul {
			list-style: none;
			margin: 0;
			padding: 1em;

			li {
				padding: 1em 0;
				text-align: center;
				transition: font-size .3s ease;

				a { color: $white; &:hover, &:focus { 
					
					background-color: $footer__background;
				}}

				&:hover, &:focus { 
					font-size: 110%;
					background-color: $footer__background;
				}

			}
		}
	}

	/*Change toggle size by adjusting width & height*/
	.tb-menu-toggle {
		border: 0;
		position: relative;
		background: transparent;
		cursor: pointer;
		margin-left: auto;
	}

	/*Change toggle color here*/
	.tb-menu-toggle i {
		color: $white;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 20%;
		-webkit-transition:all .2s;
		  -moz-transition:all .2s;
		    -o-transition:all .2s;
			  transition:all .2s;
	}
	.tb-menu-toggle i:nth-child(2) {
		top: 40%;
	}
	.tb-menu-toggle i:nth-child(3) {
		top: 80%;
	}

	/*Animation of the toggle*/
	.tb-menu-toggle.tb-animate-toggle i:first-child,
	.tb-menu-toggle.tb-animate-toggle i:nth-child(2){ 
		top: 40%;
		  -webkit-transform:rotate(45deg);
		   -moz-transform:rotate(45deg);
		    -ms-transform:rotate(45deg);
		     -o-transform:rotate(45deg);
		        transform:rotate(45deg);
	} 
	.tb-menu-toggle.tb-animate-toggle i:nth-child(3){ 
	 	top: 40%;
		  -webkit-transform:rotate(-45deg);
		   -moz-transform:rotate(-45deg);
		    -ms-transform:rotate(-45deg);
		     -o-transform:rotate(-45deg);
		        transform:rotate(-45deg);
	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
