body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

.entry-header {
	hr {
		width: 7em;
		height: 2.25px;
	}
}

h1,h2 { 
	font-family: 'Arvo', serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	&.entry-title { margin-top: 1em; }
}

a:hover { color: $blue; }

.yellowtext { color: $yellow; }
.bluetext { color: $blue; }
.whitetext { color: $white; }
.greytext { color: $textgrey; }

@media only screen and (max-width: 600px) {
	h2 { font-size: 1.3em; }
}

@media only screen and (max-width: 550px) {
	h2 { font-size: 1.1em; }
}

@media only screen and (max-width: 520px) {
	h2 { letter-spacing: 1px; }
}

@media only screen and (max-width: 490px) {
	h2 { letter-spacing: .5px; }
}

@media only screen and (max-width: 430px) {
	h2 { letter-spacing: 0px; }
}
