body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

header.entry-header{

	h1.entry-title {
		font-family: 'Arvo', serif;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	hr {
		width: 7em;
		height: 2.25px;
	}
}
